a {
    display: inline-block;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
    font-family: Arial;
    text-decoration: none;
    background: #febe01;
    color: #332200;
    border-radius: 4px;
}

.amarelo {
    display: inline-block;
    color: #febe01;
}

h1 {
    font-family: Arial;
    text-align: center;
}

h2 {
    color: white;
    font-family: Arial;
}

p {
    color: #b2b2b2;
    font-family: Arial;
}

.front-end {
    background-color: black;
    border-radius: 4px;
    padding: 15px;
    border: 15px;
    margin: 20px;
}

.ux-design {
    background-color: black;
    border-radius: 4px;
    padding: 15px;
    border: 15px;
    margin: 20px;
}