/* Primeiro elemento */
.lista-1 li {
    background: #caf;
}

/* Último elemento */
.lista-1 li:last-child {
    background: #cfa;
}

/* Terceiro elemento */
.lista-1 li:nth-child(3) {
    background: #fda;
}

/* Elementos ímpares */
.lista-2 li:nth-child(odd) {
    background: #cfa;
}

/* Elementos pares */
.lista-2 li:nth-child(even) {
    background: #adf;
}

/* de 4 em 4 */
.lista-2 li:nth-child(4n) {
    background: #caf;
}